<div class="task" fxLayoutGap="20" fxLayout="column">
  <div class="name-price" fxLayoutAlign="space-between start">
  <span class="name">{{task.name}}</span>
    <span class="price">{{task.price}}$</span>
  </div>
  <div class="description">
    {{task.description}}
  </div>
  <br>
  <div class="date-user" fxLayout="column">
    <div class="date-city" fxLayout.lt-sm="column" fxLayoutAlign="space-between start">
      <span class="date" fxFlex.lt-sm="100" >
        {{
        (task.completion.getHours == null) ?
        (task.completion | date:'fullDate') :
        (task.completion | date: 'full')
        }}
      </span>
      <span class="city">{{region}}, {{task.city.name}}</span>
    </div>
    <div class="user-div" fxLayoutAlign="start center">
        <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png">
        <a href="#" class="user">{{task.customer.firstName}} {{task.customer.lastName}}</a>
    </div>
    <div>
      <button (click)="deleteTask(task.id)" mat-icon-button color="warn" aria-label="Example icon button with a menu icon">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="update(task)" mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>
